<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Garage Sale, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to Garage sale.
    </p>
    <p>
      To login to the site, just follow this link:  https://pacific-garden-20751.herokuapp.com/login 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>